html {
    height: 100%;
}

body {
    background: rgb(2, 0, 5);
    background-size: cover;
    color: white;
}

#add-show, .btn {
    background: black;
    color: white;
}
#add-show:hover, .btn:hover {
    /* background: gray; */
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(121,9,116,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}
p {
    font-family: 'Barriecito', cursive;
}

.jumbotron {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,116,1) 35%, rgba(0,212,255,1) 100%);
}

.module-border-wrap {
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right,#72e3f2, #4884ff, #9a54f7, #eb50ff, #fb70a2);
    padding: 5px;
}

p , .fa-grin-tears {
        overflow: hidden;
        transition-duration: 1.5s;
        transition-property: transform;
    }
    p , .fa-grin-tears:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

/* 
font-family: 'Vibes', cursive;
font-family: 'Barriecito', cursive; */